# Data Science Tools And ecosystem

In [ ]:
# In This notebook, Data Science Tools and Ecosystem are summarized

# Some of the populer languages that data scientists use are:
1. Phython
2. SQL
3. C++
4. Java

# Some of the commonly used libraies used by Data Scientists include:
1. Numpy
2. Pandas
3. Metplotlib
4. Tensorflow

# Data Science Tools
| Category |Tool |
|----------|------|
| Programing Language | Phython, R ,SQL |
| data Handling | Pandas , Numpy |
|Data Visualization | Matplotlib, Plotly, Tableau|

### Below are a few examples of evaluating arithmetic expressions in phython

In [1]:
# This is simple arithmetic expression to multiply then add
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by dividing 60
200/60

3.3333333333333335

***Objective***
# unorders list
* Phython
* Sql
* R programming
* libries numpy pandas
* Jupiterlite
* Fre sources of jupyter

## auther 
Aisha Pathan